/*
* @Author: wrma
* @Date:   2018-03-03 20:17:36
* @Last Modified by:   wrma
* @Last Modified time: 2018-03-03 22:47:54
*/
.opera{
	margin-right: 5px;
}

.search-wrap{
	margin-bottom: 20px;
	.form-group{
		margin-right: 10px;
	}
}