/*
* @Author: wrma
* @Date:   2018-03-13 17:13:26
* @Last Modified by:   wrma
* @Last Modified time: 2018-03-13 17:17:55
*/
.btn-send-goods{
	margin-left: 10px;
}
.p-img{
	display: block;
	width: 80px;
	height: 80px;
}